# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TemplateStudio.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Алексей\source\repos\TemplateStudio\.idea\.idea.TemplateStudio\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
